**
!*/
!.gitignore

!/config/**
!/defaultconfigs/**
!/kubejs/**
!/thirdparty-mods/**

!InstanceSync.jar
!minecraftinstance.json
!forge_version.txt
!..Update-Modpack.*

*.bak
/config/worldedit/.archive-unpack